/* ----------------------- General ----------------------- */
body {
  font-family: Instrument Sans, sans-serif;
  margin: 0;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
}

/* ----------------------- Header ----------------------- */

.header {
  height: auto;
  margin: 0;
  margin-top: 30px;
  z-index: 1;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 440;
  font-size: 70px;
  display: block;
  line-height: 60px;
  letter-spacing: -3px;
  text-align: center;
}

/* ----------------------- Navbar ----------------------- */
.navbar {
  position: sticky;
  display: flex;
  z-index: 1000;
  width: 100%;
  height: 80px;
  letter-spacing: -3px;
  border-bottom: 0.3px solid #000;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.navbar ul {
  margin: 0; 
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 70%;
}

.navbar ul a {
  text-decoration: none;
  color: black; 
  font-size: 40px; 
}

/* ----------------------- Main ----------------------- */

main {
  padding-left: 100px;
  padding-right: 100px; 
  display: flex;
  flex-direction: column;
  text-align: justify;
  text-align-last: center;
  align-items: center;
  justify-content: center;
  width: 70%; 
  font-size: 14px; 
}

main h2 {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 440;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -3px;
  margin: 0; 
  margin-top: 30px;
}

main a {
  color: white; 
  font-style: italic;
  background-color: black;
  text-decoration: none;
}

main p {
  margin-top: 0; 
}

#info {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#problems {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#problems img {
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  border: #000 0.4px solid;
  color: #000;
}

.problemsimgs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  overflow: hidden;
  font-style: normal;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 440;
  border: 0.2px solid #000;
}

thead {
  background-color: #0f0f0f;
  color: white;
  text-align: left;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  font-size: 18px;
}

tr:last-child td {
  border-bottom: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

td ul li {
  margin-bottom: 8px;
}

td:first-child {
  background-color: #f0f0f0;
  width: 30%;
}

/* Responsive Design */
@media (max-width: 768px) {
  table {
      width: 100%;
  }

  th, td {
      padding: 10px;
      font-size: 14px;
  }
}